.searchContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchInput {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.searchInput:focus {
    border-color: #007bff; /* Color when the input is focused */
}

.searchInput:hover {
    background-color: #0056b3;
}