.sort-button {
    display: flex;
    align-items: center;
}
  
.sort-icon {
    margin-right: 5px;
    color: #666
}
  
.sort-button select {
    padding: 5px;
    margin-left: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
}