.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 100%;
  /* background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

.form_block_event {
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: sticky;
}

.button-group {
  display: flex; /* Use flex layout */
  justify-content: space-evenly; /* Place buttons at each end of the container */
}

.button_event {
  background: #002452;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 20%;
}

.button_event input {
  display: none;
}

.cancel-button {
  background: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 20%;
}

.sidebar--heading {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #535151;
}

.sidebar--paragraph {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  color: #666;
}

.sidebar img {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 200px;
  border-radius: 50%;
}

.sidebar .host--name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.form_label_oneline {
  margin-right: 10px;
}

.time-input-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 30%;
  }
}
