/* * {
  border: red 1px solid;
} */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.host--tags {
  font-size: 12px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.host--bio {
  font-size: 12px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.host--email-icon {
  margin-right: 5px;
  vertical-align: middle;
  opacity: 0.6;
}

.sidebar--heading {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #535151;
}

.sidebar--paragraph {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  color: #666;
}

.sidebar {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.card--header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 30%;
  }
}

.profile--category {
  margin-left: 300px;
}

.cards {
  padding: 0rem;
  background: #fff;
}

.card--heading {
  margin-left: 25px;
  margin-top: 25px;
}

.card--see-all {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 30px;
  text-decoration: none;
}

.card--see-all.small {
  font-size: 0.8em;
}

.sidebar img {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 200px;
  border-radius: 50%;
}

.sidebar .host--name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.host--bio {
  margin-top: 20px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
}

.sidebar--heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar--paragraph {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

.sidebar .host--email {
  text-align: center;
  font-size: 1rem;
  margin-top: 5px;
  color: #666;
}

.profile--category.previous .cards--item {
  opacity: 0.5;
}

.profile--category.previous .cards--item:hover {
  opacity: 1;
}

.createEventBtnContainer {
  position: absolute;
  top: 105px;
  right: 140px;
}

.createEventBtnContainer Button {
  position: absolute;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: grey;
  background: none;
  border: none;
  font-size: 30px;
}

.btn-close:hover,
.btn-close:focus {
  color: darkgrey;
  text-decoration: none;
  cursor: pointer;
}
