.card--header {
  display: flex;
  align-items: center;
}

.cards {
  padding: 0rem;
  background: #fff;
}

.card--heading {
  margin-left: 25px;
  margin-top: 25px;
}

.card--see-all {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 30px;
  text-decoration: none;
}

.card--see-all.small {
  font-size: 0.8em;
}
