.map--container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.event {
  background: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.event--base {
  /* flex: 1;
  position: sticky; */
  margin-left: 300px;
  background: #fff;
}


.event--main {
  padding: 2rem;
  background: #fff;
}


h1 {
  text-align: center;
}

.event--header-bar {
  display: flex;
  /* align-items: center; */
  flex-flow: column;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}


.event--header {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.event--bg {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.2;
}

.event--header-text {
  color: #252e48;
  font-size: 3em;
  justify-content: center;
  margin-bottom: 10px;
  /* line-height: 24px; */
}

.event-subtitle {
  text-align: center;
  font-size: 1.5rem;
}

.event--edit-btn {
  border:1px solid #002452;
}

.event--icon {
  margin-right: 7px;
}

.event--container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.event--wrapper {
  position: relative;
  margin: 40px 0 35px;
}

.event--column-wrapper {
  width: 100%;
  margin: 40px 0 35px;
}

.event--items {
  margin-bottom: 24px;
}

.event--item {
  display: flex;
  flex: 1;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  align-items: center;
}

.event--item .label {
  padding-right: 10px;
  font-size: 1.2rem;
  color: #002452;
  text-align: center;
}

.event--item .text {
  text-align: center;
}

.event--time {
  padding: 0px 7px;
}

.event--item-center {
  display: flex;
  /* justify-content: space-evenly; */
  flex: 1;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  align-items: center;
}

.event--item-right-justified {
  display: flex;
  flex: 1;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  align-items: end;
}

.event--two-columns-left-offset {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.event--column-left {
  padding: 20px;
  background-color: #c6c6c6;
  min-height: fit-content;
  border-radius: 10px;
}

.event--column-right {
  padding: 20px;
}

.event--register {
  min-height: fit-content;
  justify-content: center;
  padding: 20px;
}

.event--additional-info {
  padding: 20px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event--button {
  margin: 0.5rem 1rem;
  border-radius: 10px;
}

.event--link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.event--info {
  padding: 20px 30px 30px;
}

.event--subtitle {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.event-tag {
  display: inline-flex;
  padding: 6px 10px;
  border-radius: 12px;
  border: 2px solid #999;
  color: #999;
  margin: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: normal;
  transform-origin: center;
}

.top-corner-button {
  position: absolute;
  top: 0;
  right: 0;
}

/* Define a CSS class for the blue button style */
.register-button {
  background-color: #002452; /* Set the background color to blue */
  color: white; /* Set the text color to white for contrast */
  border: 2px solid white; /* Set a white border with a 2px width */
  padding: 10px 20px; /* Add padding for spacing inside the button */
  text-decoration: none; /* Remove underline on hover for links */
  display: inline-block; /* Ensure the button behaves as an inline-block element */
  text-align: center; /* Center the text horizontally */
  font-size: 16px; /* Set the font size */
  cursor: pointer; /* Change cursor to pointer on hover for a button-like feel */
  border-radius: 5px; /* Add rounded corners for a softer look */
  transition: background-color 0.2s, color 0.2s; /* Add a smooth transition effect */
}

/* Style for button hover state */
.register-button:hover {
  background-color: white; /* Change the background color to white on hover */
  color: #002452; /* Change the text color to blue on hover */
}

@media only screen and (min-width: 1200px) {
  .content--blog--container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1024px) {
  .event--base {
    margin-left: 30%;
  }

  .event--sidebar {
    width: 30%;
  }
}

@media only screen and (max-width: 512px) {
  .event--two-columns-left-offset {
    grid-template-columns: 1fr;
  }

  .event--base {
    margin-left: 30%;
  }

  .event--sidebar {
    width: 30%;
  }
}
