.navbar {
  background: #002452;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky !important;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 10px; 
  margin-top: -10px; 
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}


.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    justify-content: start;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #002452;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #002452;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  .navbar-logo img {
    width: 40px; 
    height: -10000px; 
    margin-left: -17px;
    margin-top: -39px; 
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #002452;
    transition: 250ms;
  }
}

/* Style for the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background: #002452;
  font-size: 0.965rem;
  width: 6.7%;
  z-index: 1;
  transition: all 0.5s ease;
  padding-top: 0px;
  text-align: left;
}

/* Style for the expanded text (list items) in the dropdown */
.dropdown-menu.active {
  display: block;
  list-style: none;
}

.dropdown-nav-links {
  color: #b0abab;
  background-color: #002452;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  width: 120px;
  font-size: 0.8rem;
  justify-content: flex-end;
}

.dropdown-nav-links:hover {
  color: #fff; /* Set the text color to white on hover */
  transition: all 0.2s ease-out;
}
