.form {
  /* margin-left: 350px;
  margin-right: 30px;
  display: block;
  padding: 30;
  width: 60%; */
  margin-left: 350px;
  margin-right: 30px;
  display: block;
  padding: 30px;
}

.edit_header {
  font-size: 3em;
  font-weight: 100;
}
