.empty-event-field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  height: 80vh;
}

.profile--category {
  margin-left: 300px;
}

.previous--events .cards--item {
  opacity: 0.5;
}

.previous--events .cards--item:hover {
  opacity: 1;
}

hr {
  color: rgba(172, 172, 172, 0.788);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: grey;
  background: none;
  border: none;
  font-size: 30px;
}

.btn-close:hover,
.btn-close:focus {
  color: darkgrey;
  text-decoration: none;
  cursor: pointer;
}
