.form_block {
    margin-top: 20px; 
    margin-right: 20px;
    margin-left: 320px; 
    padding: 20px; 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form_button {
    background: #002452;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}